{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title class="notranslate">{% block titulo %} {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous" />

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- jQuery primero, luego Popper.js, luego Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Incluir DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg mi-navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clase' %}">
                            <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/classroom.png" alt="classroom"/>
                            <strong class="icon-text">Clase</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendario' %}">
                            <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/calendar--v1.png" alt="calendar--v1"/>
                            <strong class="icon-text">Calendario de actividades</strong>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recursos' %}">
                            <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/video-gallery.png" alt="video-gallery"/>
                            <strong class="icon-text">Recursos</strong>
                        </a>
                    </li>
                    {%if request.user.is_superuser%}
                    
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/control-panel.png" alt="control-panel"/>
                            <strong class="icon-text">Panel de control </strong><small>▼</small>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'crear_usuario' %}">
                                <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/add-user-male.png" alt="add-user-male"/>
                                <strong class="icon-text">Crear usuario</strong>
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'listado_perfiles' %}">
                                <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/group.png" alt="group"/>
                                <strong class="icon-text">Perfiles</strong>
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'listado_publicaciones' %}">
                                <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/image-gallery.png" alt="image-gallery"/>
                                <strong class="icon-text">Publicaciones</strong>
                            </a></li>
                        </ul>
                    </li>
                    {%endif%}

                </ul>
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <div id="google_translate_element" class="google" style="margin: 10px;"></div> <!-- Widget de traducción -->
                        <li class="nav-item notranslate">
                            <div style="display: flex; align-items: center;">
                                <img src="{{ foto_perfil }}" href="{% url 'ver_perfil' request.user.username %}" height="40" width="40" style="border-radius: 50%; margin-right: 10px; margin-top: 3px;" />
                                <a class="nav-link me-3" href="{% url 'ver_perfil' request.user.username %}"><strong>{{ request.user }}</strong></a>
                            </div>
                        </li> 
                        <li class="nav-item">
                            {% if not user.is_authenticated %}
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">Login</button>
                            </form>
                            {% endif %}
                        </li>
                        <li class="nav-item no-link-style">
                            <form method="post" action="{% url 'logout'%}?next={{LOGOUT_REDIRECT_URL}}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link no-link-style">
                                    <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/exit.png" alt="exit"/>
                                    <strong class="no-link-style">Salir</strong>
                                </button>
                            </form>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {% block contenido %} {% endblock %}
            </div>
        </div>
    </div>
    <div class="fixed-bottom-right">
        <a href="{% url 'crear_publicacion' %}" role="button" class="no-link-style">
            <span class="text">     Crear publicación</span>
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
            <span class="blob"></span>
        </a>
    </div>
    
    <!-- Widget de Google Translate -->
    <div scroll="no" border="0" dir="ltr">
        <script>
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'es',
                    includedLanguages: 'en,fr,it,pt,de',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                    gaTrack: false
                }, 'google_translate_element');
    
                // Mover el navbar hacia abajo al activar el traductor
                var navbar = document.querySelector('.mi-navbar');
                var googleTranslateElement = document.querySelector('.VIpgJd-ZVi9od-ORHb');
                if (navbar && googleTranslateElement) {
                    googleTranslateElement.addEventListener('mouseover', function () {
                        navbar.style.transition = 'transform 0.5s ease';
                        navbar.style.transform = 'translateY(4000px)'; // Puedes ajustar el valor de acuerdo a tu diseño
                    });
    
                    googleTranslateElement.addEventListener('mouseout', function () {
                        navbar.style.transition = 'transform 0.5s ease';
                        navbar.style.transform = 'translateY(0)';
                    });
                }
            }
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    
    <footer>
        Copyright © 2023 Football History Archives. All Rights Reserved.
        por aqui tambien iria el logo, mi github?
    </footer>

</body>

</html>