
.mi-navbar {
  width: 100%;
  background: linear-gradient(to right, #29b6b3, #e1d9de);
  margin-bottom: 20px; /* Aumenta el margen inferior */
}

body{
 
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7f1ed, #d5d5de); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  .hover-bg:hover {
    background-color: rgba(211, 211, 211, 0.471); /* Cambia el color a azul al pasar el ratón */
}


  .no-link-style {
    text-decoration: none;
    color: inherit;
}

.my-dropdown-toggle::after {
  content: none;
}

.carousel-indicators .carousel-indicator {
  background-color: green
}



  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 20px; /* Espacio entre las imágenes */
}

.grid-item img {
    width: 100%;
    height: auto;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }

  .my-dropdown-toggle::after {
    content: none;
}
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }