{% extends "base.html"%}
{% block titulo %} Añadir recursos {% endblock %}
{% block contenido %} 

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div style="margin-top: 3px;"> <!-- Add a margin-top of 3px -->
        {% for campo in form_recurso %}
        <div class="mb-3">
            <label for="" class="form-label">{{campo.label}}:</label>
            <input
                type="{{campo.field.widget.input_type}}" 
                class="form-control"
                name="{{campo.name}}"
                value="{{campo.value}}"/>
                <!-- Muestra el valor del campo para editarlo o por defecto ''-->            
        </div>
        <div class="col-12 help-text">{{campo.errors}}</div>
        {% endfor %}
    </div>
  
    <input
        name=""
        id=""
        class="btn btn-success"
        type="submit"
        value="Enviar información"
    />

    <a
        name=""
        id=""
        class="btn btn-danger"
        href="{% url 'recursos'%}" 
        role="button"
        >Cancelar</a
    >  
</form>



        
<div class="">
    <div class="table-responsive mt-5">
        <table class="table table-striped table-bordered table-hover thead-dark">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">ID recurso</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha publicación</th>
                        <th scope="col">URL</th>
                        <th scope="col">Acciones</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    {%for recurso in recursos%}
                   
                    <tr style="text-align: center;">
                        <td>{{recurso.id}}</td>
                        <td>{{recurso.descripcion}}</td>
                        <td>{{recurso.fecha_publicacion_recurso}}</td>
                        <td><a href="{{recurso.archivo_recurso.url}}">{{recurso.archivo_recurso}}</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_recurso' recurso.id %}" role="button">Eliminar Recurso</a></td>
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
                
            </table>
        </div>
</div>
{%endblock%}