{% extends "base.html" %}
{% block titulo %} Cambiar Contraseña {% endblock %}
{% block contenido %}

<h1>Cambiar Contraseña</h1>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        {% if form.errors %}
            {% for error in form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>¡Atención!</strong> {{ form.errors }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        {{ form.password1.label }}
        {{ form.password1 }}
        <div class="help" id="id_password1_helptext" bis_skin_checked="1">
            <ul>
                <li>La contraseña no puede contener información personal.</li>
                <li>La contraseña debe tener al menos 8 caracteres.</li>
            </ul>
        </div>

        {{ form.password2.label }}
        {{ form.password2 }}
    </div>

    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    <a class="btn btn-danger" href="{% url 'ver_perfil' user.username %}" role="button">Cancelar</a>
</form>

{% endblock %}