{% extends "base.html" %}
{% block titulo %} Crear publicaciones {% endblock %}
{% block contenido %} 
{% if request.user.perfil.is_blocked %}
<div class="container mt-5">
  <h5>No puedes acceder al contenido de esta página porque actualmente estás bloqueado. Para solucionar el problema, ponte en contacto con el maestro de la clase.</h5>
</div>
{% else %}
<div class="card mt-5">
  <div class="card-header">Crear una publicación</div>
  <div class="card-body">
    
    <form enctype="multipart/form-data" method="post" id="form_publicacion">
      {% csrf_token %}
      {% for campo in form_publicacion %}
      <div class="mb-3">
        <label for="{{ campo.id }}" class="form-label">{{ campo.label }}:</label>
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" id="{{ campo.id }}" aria-describedby="helpId" placeholder="{{ campo.help_text }}" value="{{ campo.value | default_if_none:'' }}" />
        <div class="col-12 help-text">{{ campo.errors }}</div>
      </div>
      {% endfor %}

      <div class="mb-3 hover-zoom" id="imagePreviews" style="display: flex; flex-wrap: wrap;"> 
      </div>
      
      <div class="bg-image hover-zoom">
        <label for="file-upload" class="btn  btn-lg zoom-img" style="width: 408px; height: 408px; border-radius: 12px; background-color: #f1f1f1c7; color: black; border-style: dashed; border-color: gray;">
            Subir imágenes
            <img width="300" height="300" src="https://img.icons8.com/parakeet/300/add-image.png" alt="add-image"/>
        </label>
        <input type="file" name="images" id="file-upload" accept="image/*" multiple style="display: none;" onchange="previewImages(event)">
    </div>

      <div class="mb-3 mt-3">
        <button type="submit" class="btn comment-gradient">Subir publicación</button>
        <a class="btn danger-gradient" href="{% url 'feed' %}" role="button">Cancelar</a>
      </div>
    </form>
   
  </div>
</div>
{% endif %}
<script>
    var images = []; // Lista para almacenar las imágenes seleccionadas

    function previewImages(event) {
        var files = event.target.files;
        var imagePreviews = document.getElementById('imagePreviews');

        // Limpiar las vistas previas anteriores
        imagePreviews.innerHTML = '';

        // Iterar sobre los archivos seleccionados
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();
            reader.onload = (function(file) {
                return function(e) {
                    var imgContainer = document.createElement('div');
                    imgContainer.style.margin = '5px'; // Espacio entre las imágenes

                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.width = '408px'; // Ajusta el ancho máximo según sea necesario
                    img.style.height = '408px'; // Ajusta la altura máxima según sea necesario
                    img.style.borderRadius = '12px';

                    imgContainer.appendChild(img);
                    imagePreviews.appendChild(imgContainer);

                    // Agregar la imagen a la lista de imágenes seleccionadas
                    images.push({file: file, container: imgContainer});
                };
            })(files[i]);
            reader.readAsDataURL(files[i]);
        }
    }

    document.getElementById('publicacionForm').addEventListener('submit', function(event) {
        // Adjuntar las imágenes seleccionadas al formulario antes de enviarlo
        images.forEach(function(image) {
            var input = document.createElement('input');
            input.type = 'file';
            input.name = 'images';
            input.files = [image.file];
            document.getElementById('publicacionForm').appendChild(input);
        });
    });
</script>
{% endblock %}
