{% extends "base.html" %}
{% block titulo %} Editar perfil {% endblock %}
{% block contenido %} 
{% if request.user.perfil.is_blocked %}
<div class="container mt-5">
    <h5>No puedes acceder al contenido de esta página porque actualmente estás bloqueado.
        Para solucionar el problema, póngase en contacto con el/la maestro/a de la clase
    </h5>
</div>
{% else %}

<div class="container mt-5">
    <header>
        <div class="card">
            <div class="card-header">Editar perfil</div>
            <div class="card-body">
                <img src="{{ foto_perfil }}" height="150" width="150" style="border-radius: 50%;" />
                <a class="btn edit-gradient ms-3" href="{% url 'cambiar_password' %}" role="button">Cambiar Contraseña</a>
                <form enctype="multipart/form-data" method="post" action="{% url 'editar_perfil' %}" class="mt-3">
                    {% csrf_token %} 
                    {% for campo in form_perfil %}
                    <div class="mb-3">
                        <strong><label for="" class="form-label">{{campo.label}}:</label></strong>
                        <input
                            type="{{campo.field.widget.input_type}}" 
                            class="form-control"
                            name="{{campo.name}}"
                            value="{{campo.value}}"/>
                            <!-- Muestra el valor del campo para editarlo o por defecto ''-->            
                    </div>
                    <div class="col-12 help-text">{{campo.errors}}</div>
                    {% endfor %}
                    
                    {% for campo in form_user %}
                    {% if campo.name != 'password' %}
                    <div class="mb-3">
                       <strong><label for="" class="form-label">{{campo.label}}:</label></strong>
                        <input
                            type="{{campo.field.widget.input_type}}" 
                            class="form-control"
                            name="{{campo.name}}"
                            id=""
                            aria-describedby="helpId"
                            placeholder="{{campo.help_text}}"
                            value="{{ campo.value | default_if_none:'' }}"/>         
                    </div>
                    <div class="col-12 help-text">{{campo.errors}}</div>
                    {% endif %}
                    {% endfor %}
                    <input class="btn comment-gradient" type="submit" value="Actualizar información"/>
                    <a class="btn danger-gradient" href="{% url 'ver_perfil' user.username %}" role="button" >Cancelar</a>
                </form>
            </div>
        </div>
    </header>
</div>
{% endif %}
{% endblock %}
