{% extends "base.html" %}
{% block titulo %} Editar publicaciones {% endblock %}
{% block contenido %} 
{% if request.user.perfil.is_blocked %}
<div class="container mt-5">
    <h5>No puedes acceder al contenido de esta página por que actualmente estás bloqueado.
        Para solucionar el problema, póngase en contacto con el/la maestro/a de la clase
    </h5>
</div>
{% else %}
<div class="card mt-5">
    <div class="card-header">Editar información</div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %} 
            <div class="grid-container">
                {% for imagen in imagenes_publicacion %}
                <div class="modal fade" id="exampleModal{{ imagen.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar imagen</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Seguro que desea eliminar esta imagen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn secondary-gradient" data-bs-dismiss="modal">Cancelar</button>
                                <a class="btn danger-gradient" href="{% url 'eliminar_imagen' imagen.id %}" style="color: white;">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-image hover-zoom" style="position: relative;">
                    <div class="special-overlay" style="position: absolute; top: 0px; right: 0px; background-color: rgba(227, 13, 13, 0);z-index: 1;">
                        <div class="dropdown-container">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{ imagen.id }}">
                                <img width="25" height="25" src="https://img.icons8.com/parakeet/25/delete-sign.png" alt="delete-sign"/>
                            </button>
                        </div>
                    </div>
                    <img src="{{ imagen.imagen.url }}" style="width: 408px; height: 408px; border-radius: 12px" class="zoom-img" />
                </div>
                {% endfor %}
                <div class="bg-image hover-zoom">
                    <label for="file-upload" class="btn  btn-lg zoom-img" style="width: 408px; height: 408px; border-radius: 12px; background-color: #f1f1f1c7; color: black; border-style: dashed; border-color: gray;">
                        Subir más imágenes
                        <img width="300" height="300" src="https://img.icons8.com/parakeet/300/add-image.png" alt="add-image"/>
                    </label>
                    <input id="file-upload" type="file" name="images" multiple style="display: none;" />
                </div>
            </div>
            <form action="{% url 'crear_publicacion' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for campo in form_publicacion %}
            <div class="mb-3 mt-3">
                <strong><label for="" class="form-label">{{campo.label}}:</label></strong>
                <input type="{{campo.field.widget.input_type}}" class="form-control" name="{{campo.name}}" id="" aria-describedby="helpId" placeholder="{{campo.label}}" value="{{ campo.value | default_if_none:'' }}"/>
            </div>
            <div class="col-12 help-text">{{campo.errors}}</div>
            {% endfor %}
            <input class="btn comment-gradient" type="submit" value="Editar publicación"/>
            <a class="btn danger-gradient" href="{% url 'feed'%}" role="button">Cancelar</a>
        </form>
    </div>
</div>

{%endif%}
{% endblock %}
