{% extends "base.html"%}
{% block titulo %} Editar recurso {% endblock %}
{% block contenido %} 


{%if request.user.is_superuser %}
<div class="container"> <!-- Agregando margen superior a la tarjeta -->
    <div class="card">
        <div class="card-header mb-3">Editar recurso</div>


    <div class="card-body">
       
        <form enctype="multipart/form-data" method="post" action="{% url 'editar_recurso' recurso.id%}">
            {% csrf_token %} 
            
            {% for campo in form_recurso %}
      <div class="mb-3">
        <strong><label for="" class="form-label">{{ campo.label }}:</label></strong>
        {% if campo.name == 'descripcion' %}
        <textarea class="form-control" name="{{ campo.name }}" placeholder="{{ campo.help_text }}">{{ campo.value|default_if_none:'' }}</textarea>
        <!-- Muestra el valor del campo para editarlo o por defecto '' -->            
        {% else %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" value="{{ campo.value|default_if_none:'' }}" placeholder="{{campo.help_text}}">
        <!-- Muestra el valor del campo para editarlo o por defecto '' -->            
    </div>
    {% endif %}
                        <div class="col-12 help-text">{{ campo.errors }}</div>
      {% endfor %}

        
        <input class="btn comment-gradient mt-2" type="submit" value="Actualizar información"/>
        <a class="btn danger-gradient mt-2" href="{% url 'recursos' %}" role="button" >Cancelar</a>
    </form>


    
        
    </div>
</div>
</div>
{%endif%}
{% endblock %}