{% extends "base.html" %}
{% block titulo %} Feed {% endblock %}
{% block contenido %} 

<h6>Fecha límite:</h6>
<style>
    input[type="date"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        font-size: 14px;
        color: #333;
    }
</style>
<input type="date" id="start" name="trip-start" value="2024-02-02" min="2024-02-02" max="2029-12-31" />


{% for publicacion in publicaciones %}
<div class="d-flex justify-content-center">
    <div class="card mb-3" style="width: 468px;">
        <div style="overflow: hidden; height: 468px;">
            <img class="card-img-top" src="{{ publicacion.foto_publicacion.url }}" alt="Card image cap" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="card-body">
            {% for perfil in perfiles %}
            {% if perfil.username_id == publicacion.user_id %}
                <a href="{% url 'ver_perfil' publicacion.user %}" class="no-link-style"><img src="{{ perfil.profile_pic.url }}" height="60" width="60" style="border-radius: 50%;"/></a>
            {% endif %}
            {% endfor %}
            <h5><a href="{% url 'ver_perfil' publicacion.user %}" class="no-link-style">{{publicacion.user}}</a> · {{publicacion.fecha_publicacion }}</p></h5>
            <p class="card-text">{{ publicacion.descripcion }}</p>
            <hr class="card-divider">
                <ul class="list-group list-group-flush">
                    {% for comentario in comentarios %}
                        {% if comentario.publicacion_id == publicacion.id %}
                            <li class="list-group-item list-group-item-action">
                                <div class="d-flex align-items-start hovered">
                                    <div class="mr-3">
                                        {% for perfil in perfiles %}
                                            {% if perfil.username_id == comentario.user_id %}
                                                <a href="{% url 'ver_perfil' comentario.user %}" class="no-link-style">
                                                    <img src="{{ perfil.profile_pic.url }}" height="32" width="32" style="border-radius: 50%;"/>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="flex-grow-1">
                                        <a href="{% url 'ver_perfil' comentario.user %}" class="no-link-style">
                                        <strong>{{ comentario.user }}:</a></strong> 
                                        <div>{{ comentario.comentario }} </div>
                                    </div>
                                    <div>
                                        <small class="text-body-secondary">
                                        {% if comentario.dias_desde_publicacion == "hoy" %}
                                            Hoy
                                        {% elif comentario.dias_desde_publicacion == "ayer" %}
                                            Ayer
                                        {% else %}
                                            Hace {{ comentario.dias_desde_publicacion }} días
                                        {% endif %}
                                    </small>
                                    </div>
                                   <!-- Example split danger button -->
                                   <div class="btn-group dropend">
                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
                                        <span class="material-symbols-outlined"> more_vert </span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><h6 class="dropdown-header">Opciones</h6></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Editar comentario</a></li>
                                        <li><a class="dropdown-item" href="#">Eliminar comentario</a></li>
                                    </ul>
                                </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
                
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-secondary btn-sm w-100 mb-2" href="{% url 'agregar_comentario' publicacion.id %}" role="button">
                                <img width="24" height="24" src="https://img.icons8.com/cotton/64/000000/speech-bubble-with-dots.png" alt="speech-bubble-with-dots"/>
                                Comentar
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-warning btn-sm w-100 mb-2" href="{% url 'editar_publicacion' publicacion.id %}" role="button">
                                <img width="24" height="24" src="https://img.icons8.com/cotton/64/create-new--v1.png" alt="create-new--v1"/>
                                Editar publicación
                            </a>
                        </div>
                </div>
                <div class="col">
                    <a class="btn btn-danger btn-sm w-100" href="{% url 'eliminar_publicacion' publicacion.id %}" role="button">
                        <img width="40" height="40" src="https://img.icons8.com/cotton/64/000000/trash--v1.png" alt="trash--v1"/>
                        Eliminar publicación
                    </a>
                </div>
              </div>

            

            
                
                
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
