{% extends "base.html"%}
{% block titulo %} Perfil {% endblock %}
{% block contenido %} 

<div class="card">
    <div class="card-header">Aquí irán las publicaciones de cada usuario</div>
    <div class="card-body">
        <h4 class="card-title">Publicaciones</h4>
        <h4 class="card-title">Por aquí pondré la lista de usuarios para ver cuáles están</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Usuario</th>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Foto de Perfil</th>
                <th scope="col">¿Está Bloqueado?</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nombre_usuario }}</td>
                <td>{{ usuario.nombre_completo }}</td>
                <td>{{ usuario.password }}</td>
                <td><img src="{{ usuario.foto_perfil.url }}" height="40" width="40"/></td>
                <td>{{ usuario.esta_bloqueado }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>

<a class="btn btn-success" href="{% url 'crear_publicacion'%}" role="button">Crear Publicación</a>
<a class="btn btn-primary" href="{% url 'crear_publicacion'%}" role="button">Ver publicaciones</a>



{% endblock %}
