{% extends "base.html"%}
{% block titulo %} Perfil {% endblock %}
{% block contenido %} 


<div class="table-container">
    <div class="card-header">Listado de perfiles</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID Usuario</th>
                        <th scope="col">Nombre Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">¿Es staff?</th>
                        <th scope="col">¿Está activo?</th>
                        <th scope="col">¿Es superusuario?</th>
                        <th scope="col">Foto de Perfil</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.is_staff}}</td>
                        <td>{{ user.is_active }}</td>
                        <td>{{ user.is_superuser}}</td>
                        <td><img src="{{ user.foto_perfil.url }}" height="40" width="40"/></td>

                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
</div>

<a class="btn btn-success" href="{% url 'crear_publicacion'%}" role="button">Crear Publicación</a>
<a class="btn btn-primary" href="{% url 'publicaciones'%}" role="button">Ver publicaciones</a>



{% endblock %}
