{% extends "base.html"%}
{% block titulo %} Ver publicaciones {% endblock %}
{% block contenido %} 


<div class="table-container">
    <table class="table mt-3000">
        <thead>
            <tr>
                <th scope="col">ID Publicación</th>
                <th scope="col">Foto de perfil</th>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">ID Usuario</th>
                <th scope="col">Foto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha de publicación</th>
                <th scope="col">Agregar comentarios</th>
                <th scope="col">Ver comentarios</th>
                <th scope="col">Editar publicación</th>
                <th scope="col">Eliminar publicación</th>
            </tr>
        </thead>
        <tbody> 
{% for publicacion in publicaciones %}
    <tr>
        <td>{{ publicacion.id }}</td>
        <td><img src="{{ publicacion.user.profile_pic.url }}" height="80" width="80"/></td>
        <td>
            {% for user in users %}
                {% if user.id == publicacion.user_id %}
                    {{ user.username }}
                    {{ user.is_staff }}
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ publicacion.user_id }}</td>
        <td><img src="{{ publicacion.foto_publicacion.url }}" height="80" width="80"/></td>
        <td>{{ publicacion.descripcion }}</td>
        <td>{{ publicacion.fecha_publicacion }}</td>              
    </tr>
{% endfor %}

        
        </tbody>
    </table>
</div>
{% endblock %}