{% extends "base.html"%}
{% block titulo %} Tu perfil {% endblock %}
{% block contenido %} 
<body>
    <header>
        <div class="perfil-container mb-3">
            <div class="contenedor-cabecera mt-3" >

                
                <div>
                    {% for perfil in perfiles %}
                        {% if perfil.username_id == usuario.id %}
                            <img src="{{ perfil.profile_pic.url }}" height="150" width="150" style="border-radius: 50%;"/>
                            <h2>{{ usuario.username }}</h2> 
                            <h2>{{ usuario.first_name }} {{ usuario.last_name }}</h2> 
                            {% if perfil.username_id == user.id %}
                                <a class="btn btn-warning" href="{% url 'editar_perfil' %}" role="button">Editar perfil</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="linea"></div>
        <div class="main-nav">
            <h3>PUBLICACIONES </h3>
        </div>
        <div class="grid-container">
            {% for publicacion in publicaciones %}
            {% if publicacion.imagenes.all %}
                <!-- Si hay al menos una imagen, mostrar la imagen y otra información -->
                <div class="grid-item" style="position: relative;">
                    <img src="{{ publicacion.imagenes.first.imagen.url }}" style="width: 420px; height: 420px; border-radius: 12px"/>
                    {% if publicacion.imagenes.count > 1 %}
                        <!-- Si hay más de una imagen, mostrar el símbolo especial como superposición -->
                        <div class="special-overlay" style="position: absolute; top: 0; right: 0; background-color: rgba(255, 255, 255, 0.8); border-radius: 12px; width: 30px; height: 30px; text-align: center; font-size: 20px; line-height: 30px;">+</div>
                        {% endif %}
                </div>
            {% else %}
                <!-- Si no hay imágenes, mostrar la tarjeta especial -->
                <div class="card mb-3" style="width: 420px; height: 420px; border-radius: 12px">
                    <div class="card-body">
                        {% for perfil in perfiles %}
                            {% if perfil.username_id == publicacion.user_id %}
                                <a href="{% url 'ver_perfil' publicacion.user %}" class="no-link-style"><img src="{{ perfil.profile_pic.url }}" height="60" width="60" style="border-radius: 50%;"/></a>
                            {% endif %}
                        {% endfor %}
                        <h5>
                            <a href="{% url 'ver_perfil' publicacion.user %}" class="no-link-style">{{publicacion.user}}</a> · 
                            <small class="text-body-secondary">{{publicacion.fecha_publicacion }}</small>
                        </h5>
                        <p class="card-text">{{ publicacion.descripcion }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </main>
</body>
{% endblock %}

