{% extends "base.html"%}
{% block titulo %} Ver Comentarios {% endblock %}
{% block contenido %} 
{% if not user.perfil.is_blocked %}
<div class="container mt-5">
    <h5>No puedes acceder al contenido de esta página por que actualmente estás bloqueado.
        Para solucionar el problema, póngase en contacto con el/la maestro/a de la clase
    </h5>
</div>
{% else %}

<div class="table-responsive mt-5">
    <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID Comentario</th>
                        <th scope="col">Nombre Usuario</th>
                        <th scope="col">ID Usuario</th>
                        <th scope="col">Publicación</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Fecha de publicación</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for comentario in comentarios %}
                    <tr>
                        <td>{{ comentario.id }}</td>
                        <td>{{ comentario.user }}</td>
                        <td>{{ comentario.user_id }}</td>
                        <td><img src="{{ publicacion.foto_publicacion.url }}" height="60" width="60"/></td>
                        <td>{{ comentario.comentario }}</td>
                        <td>{{ comentario.fecha_publicacion_comentario }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
        
    </div>
</div>
{%endif%}
{% endblock %}