{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceso</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <style>
    
    .card-login {
      margin: 30px;
      width: calc(100% - 100px);
      border-radius: 12px;
    }

    .card {
      height: 100%;
      border: solid 2px;
      color: #034e0f;
      border-radius: 12px;
    }

    .card-body {
      height: 100%;
      border-radius: 12px;
      padding: 0px;
    }
  </style>
</head>
<body class="body-login">
  
  <div class="card-login">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid-login">
          <div class="row align-items-center">
            <div class="col-md-4 login-sec" style="margin-left: 20px;">
              <h2 class="text-center">Acceda para continuar</h2>
              {% if form.errors %}
              <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
              {% endif %}
              {% if next %}
              {% if user.is_authenticated %}
              <p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p>
              {% else %}
              <p>Por favor inicie sesión para ver esta página.</p>
              {% endif %}
              {% endif %}
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input">
                    <h6 class="label_input" for="inputUsername">Nombre de usuario</h6>
                    <input class="form-control" id="inputdefault" name="username" type="text" style="width: 100%; max-width: 100%; overflow-x: auto; border-color: #000000;">
                  </div>
                </div>
                <div class="input">
                  <h6 class="label_input" for="inputPassword">Contraseña</h6>
                  <input class="form-control" id="inputPassword" name="password" type="password" style="width: 100%; max-width: 100%; overflow-x: auto; border-color: #000000;">
                </div>
                <div class="form-check">
                  <label class="form-check-label mt-3">
                    <input type="checkbox" class="form-check-input">
                    <small>Recuérdame</small>
                  </label>
                </div>
                <div class="btn-group">
                  <button type="submit" class="btn btn-login float-right">
                    <img width="24" height="24" src="https://img.icons8.com/parakeet-line/48/ffffff/enter-2.png" alt="enter-2"/>
                    <strong>Entrar</strong>
                  </button>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
              </form>
            </div>
            <div class="col-md-7">
              <img src="{% static 'undraw_nature_on_screen_xkli.png' %}" alt="Imagen" style="height: 100%; width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
